<h1 mat-dialog-title>Delete reservation</h1>
<div mat-dialog-content class="mat-typography">
    <mat-list>
        <mat-list-item> {{ reservation.reservationname }} </mat-list-item>
        <mat-list-item> {{ reservation.firstname }} </mat-list-item>
        <mat-list-item> {{ reservation.lastname }} </mat-list-item>
        <mat-list-item> {{ reservation.email }} </mat-list-item>
    </mat-list>
</div>
<div mat-dialog-actions align="end">
    <button mat-raised-button color="primary" type="button" (click)="onDelete()">Submit</button>
    <button mat-raised-button color="warn" type="button" (click)="onCancel()">Cancel</button>
</div>